<!DOCTYPE html>
<html>
<head>
  <title>ADD CUSTOMER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/forms.css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <div class="form-header">
        <h2>ADD CUSTOMER</h2>
      </div>
      <form>
        <div class="form-fieldset">
          <fieldset>
            <!-- <legend>Row 1</legend> -->
            <div class="form-row">
              <div class="col-md">
                <label for="field1">CUSTOMER ID:</label>
                <input type="text" id="field1" class="form-control" placeholder="Enter Field 1">
              </div>
              <div class="col-md">
                <label for="field2">CUSTOMER NAME:</label>
                <input type="text" id="field2" class="form-control" placeholder="Enter Field 2">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <!-- <legend>Row 2</legend> -->
            <div class="form-row">
              <div class="col-md">
                <label for="field3">CUSTOMER PHONE:</label>
                <input type="text" id="field3" class="form-control" placeholder="Enter Field 3">
              </div>
              <div class="col-md">
                <label for="field4">CUSTOMER GENDER:</label>
                <input type="text" id="field4" class="form-control" placeholder="Enter Field 4">
              </div>
            </div>
          </fieldset>
          <fieldset>
            <!-- <legend>Row 3</legend> -->
            <div class="form-row">
              <div class="col-md">
                <label for="field5">CUSTOMER AGE:</label>
                <input type="text" id="field5" class="form-control" placeholder="Enter Field 5">
              </div>
              <div class="col-md">
                <label for="field6">CUSTOMER ADDRESS:</label>
                <input type="text" id="field6" class="form-control" placeholder="Enter Field 6">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="form-row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
